@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  background-image: url("../public/images/istockphoto-1325195247-170667a.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage_main {
  display: flex;
  /* background-color: red; */
  position: relative;
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.app_name {
  background-color: rgb(240, 248, 255, 0.4);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 40px;
  margin: 5px 0 0 0;
  color: aliceblue;
}

.authentication_subdiv {
  /* background-color: aliceblue; */
  background-color: rgb(240, 248, 255, 0.4);
  color: #ffffff;
  width: 50%;
  border-radius: 40px;
  margin: 5px 0;
  display: flex;
}

.login_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-right: 0.2px solid black;
  border-radius: 40px 0 0 40px;
}
.signup_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}

.login_div:hover {
  /* background-color: rgb(35, 146, 180); */
  /* color: white; */
  border-radius: 40px 0 0 40px;
}
.signup_div:hover {
  /* background-color: rgb(35, 146, 180); */
  border-radius: 0 40px 40px 0;
}
.loginpage {
  width: 50%;
}
.loginpage > form {
  /* background-color: aliceblue; */
  background-color: rgb(240, 248, 255, 0.3);

  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
  height: 75vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(161, 228, 224); */
  justify-content: center;
  align-items: center;
}

.loginpage > form > span > input {
  width: 300px;
  padding: 5px 10px;
  background-color: rgb(240, 248, 255, 0.5);
}
input::placeholder {
  color: #ffffff;
}

.loginbtn {
  background-color: rgb(0, 119, 255);
  border-radius: 40px;
  position: absolute;
  bottom: 15%;
  padding: 5px 15px;
  color: white;
}
#signupbtn {
  bottom: 2%;
}
.guestuserbtn {
  background-color: rgb(19, 67, 121);
  border-radius: 4px;
  position: absolute;
  bottom: 5%;
  padding: 5px 15px;
  color: white;
}
.loginbtn :hover {
  background-color: rgb(59, 59, 59);
}
.passowrd_container {
  position: relative;
}
.hideShow_btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-radius: 4px;
  background-color: aliceblue;
  padding: 0 5px;
  border: 1px solid gray;
}
.inputfields {
  border-radius: 40px;
  border: 2px solid rgb(248, 250, 252);
  /* border: 2px solid rgb(255, 0, 0); */
}
.inputfield_ERr{
  border-radius: 40px;
  border: 2px solid rgb(255, 0, 0);
   animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0px 4px 50px -7px rgba(242, 67, 79, 1);
}
@keyframes shake{
  0% {
    margin-left: 0rem;
  }
  
  25% {
    margin-left: 0.5rem;
  }
  
  75% {
    margin-left: -0.5rem;
  }
  
  100% {
    margin-left: 0rem;
  }
}
.labels {
  color: #ffffff;
}
.inputfields:focus {
  /* background-color: lightblue; */
  background-color: rgb(240, 248, 255, 0.8);
}
.colorid {
  background-color: rgb(35, 146, 180);
  color: white;
}
.fieldspan {
  background-color: aqua;
}
.unsubmitmsg {
  position: absolute;
  right: 0;
  color: red;
}
.pop_up {
  position: absolute;
  right: 10px;
  background-color: rgb(249, 250, 250);
  top: 20px;
  animation-name: downtoup;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  border-radius: 40px;
}
@keyframes downtoup {
  from {
    top: 200px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
.popup_insidediv {
  position: relative;
  background-color: rgb(16, 102, 42);
  padding: 20px 30px;
  border-radius: 10px;
  color: #ffffff;
}
.crossbtn {
  position: absolute;
  /* background-color: black; */
  color: aliceblue;
  padding: 0px 5px;
  font-size: 10px;
  border-radius: 10px;
  top: 6px;
  right: 10px;
}
.pop_upHide {
  display: none;
}
.crossbtn:hover {
  top: 5px;
}
.spinnerclass {
  margin: 0 11.5px;
}
