@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  background-image: url("../public/images/wp3654769.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage_main {
  display: flex;
  /* background-color: red; */
  position: relative;
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.app_name {
  background-color: aliceblue;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
  margin: 5px 0;
}

.authentication_subdiv {
  background-color: aliceblue;
  width: 50%;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
}

.login_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-right: 0.2px solid black;
}
.signup_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.login_div:hover {
  /* background-color: rgb(35, 146, 180); */
  /* color: white; */
  border-radius: 5px 0 0 5px;
}
.signup_div:hover {
  /* background-color: rgb(35, 146, 180); */
  border-radius: 0 5px 5px 0;
}
.loginpage {
  width: 50%;
}
.loginpage > form {
  background-color: aliceblue;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(161, 228, 224); */
  justify-content: center;
  align-items: center;
}

.loginpage > form > span > input {
  width: 300px;
  padding: 5px 10px;
}

.loginbtn {
  background-color: rgb(0, 119, 255);
  border-radius: 4px;
  position: absolute;
  bottom: 15%;
  padding: 5px 15px;
  color: white;
}
#signupbtn {
  bottom: 2%;
}
.guestuserbtn {
  background-color: rgb(19, 67, 121);
  border-radius: 4px;
  position: absolute;
  bottom: 5%;
  padding: 5px 15px;
  color: white;
}
.loginbtn :hover {
  background-color: rgb(59, 59, 59);
}
.passowrd_container {
  position: relative;
}
.hideShow_btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-radius: 4px;
  background-color: aliceblue;
  padding: 0 5px;
  border: 1px solid gray;
}
.inputfields {
  border-radius: 4px;
  border: 2px solid rgb(0, 119, 255);
}

.inputfields:focus {
  background-color: lightblue;
}
.colorid {
  background-color: rgb(35, 146, 180);
  color: white;
}
.fieldspan {
  background-color: aqua;
}
.unsubmitmsg {
  position: absolute;
  right: 0;
  color: red;
}
.pop_up {
  position: absolute;
  right: 10px;
  background-color: aqua;
  /* padding: 20px 30px; */
  border-bottom: 5px solid rgb(0, 255, 21);
  top: 20px;
  animation-name: downtoup;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes downtoup {
  from {
    top: 200px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
.popup_insidediv {
  position: relative;
  background-color: beige;
  padding: 20px 30px;
}
.crossbtn {
  position: absolute;
  background-color: black;
  color: aliceblue;
  padding: 0px 5px;
  font-size: 10px;
  border-radius: 4px;
  top: 3px;
  right: 3px;
}
.crossbtn:hover {
  top: 5px;
}
