@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  background-image: url("../public/images/wp3654769.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage_main {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
}
.app_name {
  background-color: aliceblue;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
  margin: 5px 0;
}

.authentication_subdiv {
  background-color: aliceblue;
  width: 80%;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
}

.login_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-right: 0.2px solid black;
}
.signup_div {
  /* background-color: aqua; */
  width: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.login_div:hover {
  /* background-color: rgb(35, 146, 180); */
  /* color: white; */
  border-radius: 5px 0 0 5px;
}
.signup_div:hover {
  /* background-color: rgb(35, 146, 180); */
  border-radius: 0 5px 5px 0;
}
.loginpage {
  width: 80%;
}
.loginpage > form {
  background-color: aliceblue;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(161, 228, 224); */
  justify-content: center;
  align-items: center;
}

.loginpage > form > span > input {
  width: 300px;
  padding: 5px 10px;
}

.loginbtn {
  background-color: rgb(0, 119, 255);
  border-radius: 4px;
  position: absolute;
  bottom: 15%;
  padding: 5px 15px;
  color: white;
}
#signupbtn {
  bottom: 2%;
}
.guestuserbtn {
  background-color: rgb(19, 67, 121);
  border-radius: 4px;
  position: absolute;
  bottom: 5%;
  padding: 5px 15px;
  color: white;
}
.loginbtn :hover {
  background-color: rgb(59, 59, 59);
}
.passowrd_container {
  position: relative;
}
.hideShow_btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-radius: 4px;
  background-color: aliceblue;
  padding: 0 5px;
}
.inputfields {
  border-radius: 4px;
  border: 2px solid rgb(0, 119, 255);
}

.inputfields:focus {
  background-color: lightblue;
}
.colorid {
  background-color: rgb(35, 146, 180);
  color: white;
}
